<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Livros</title>
</head>
<body>
<h1>Biblioteca</h1>

<a href="/livros/novo">Adicionar Livro</a>

<table>
    <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>Ano</th>
    </tr>
    <tr th:each="livro : ${livros}">
        <td th:text="${livro.titulo}"></td>
        <td th:text="${livro.autor}"></td>
        <td th:text="${livro.anoPublicacao}"></td>
        <td>
            <a th:href="@{/livros/editar/{id}(id=${livro.id})}">Editar</a>
        </td>
    </tr>
</table>
</body>
</html>